body {
  width: 80%;
  margin: auto;
  margin-top: 2%;
  font-family: $main-font;
}

h1, h2, h3, h4 {
  font-weight: 600;
}
h1 {
  font-size: 30px;
  line-height: 40px;
}
h2 {
  font-size: 25px;
  line-height: 36px;
}
h3 {
  font-size: 21px;
  line-height: 24px;
}
h4 {
  font-size: 17px;
  line-height: 30px;
}
