// Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Mono|Roboto+Slab);

$main-font: 'Roboto', sans-serif;
$condensed-font: 'Roboto Condensed', sans-serif;
$serif-font: 'Roboto Slab', serif;
$monosapce-font: 'Roboto Mono', monospace;

@import url(https://fonts.googleapis.com/css?family=Abril+Fatface|Arvo|Lato|Noto+Sans|Open+Sans|Unna|Vollkorn);

$font-roboto: 'Roboto', sans-serif;
$font-roboto-slab: 'Roboto Slab', serif;

  // Week One
$font-unna: 'Unna', serif;
$font-lato: 'Lato', sans-serif;

  // Week Two
$font-vollkorn: 'Vollkorn', serif;
$font-open-sans: 'Open Sans', sans-serif;

  // Week Three
$font-arvo: 'Arvo', serif;
$font-noto-sans: 'Noto Sans', sans-serif;

  // Week Four
$font-abril-fatface: 'Abril Fatface', cursive
    //repeat Open Sans

// Colors

$brand-green: #338D6A;
$brand-blue: #246080;
$brand-taupe: #DBDED6;
$brand-light-gray: #F2F2F2;

// Palette

$primary-color: $brand-green;
$secondary-color: $brand-blue;
$background-dark: $brand-taupe;
$background-light: $brand-light-gray;
