// Fonts

@import url(https://fonts.googleapis.com/css?family=Abril+Fatface|Arvo|Lato|Noto+Sans|Open+Sans|Roboto|Roboto+Slab|Unna|Vollkorn);

$font-roboto: 'Roboto', sans-serif;
$font-roboto-slab: 'Roboto Slab', serif;

  // Week One
$font-unna: 'Unna', serif;
$font-lato: 'Lato', sans-serif;

  // Week Two
$font-vollkorn: 'Vollkorn', serif;
$font-open-sans: 'Open Sans', sans-serif;

  // Week Three
$font-arvo: 'Arvo', serif;
$font-noto-sans: 'Noto Sans', sans-serif;

  // Week Four
$font-abril-fatface: 'Abril Fatface', cursive
    //repeat Open Sans
