#abril-fatface-one {
  color: black;
  font-family: $font-abril-fatface;
  font-size: 40px;
  font-weight: normal;;
}

#open-sans-one {
  color: black;
  font-family: $font-open-sans;
  font-size: 40px;
  font-weight: normal;
}

#abril-fatface-two {
  color: black;
  font-family: $font-abril-fatface;
  font-size: 40px;
  font-weight: bold;
}

#open-sans-two {
  color: black;
  font-family: $font-open-sans;
  font-size: 40px;
  font-weight: bold;
}
