#arvo-one {
  color: black;
  font-family: $font-arvo;
  font-size: 40px;
  font-weight: normal;;
}

#noto-sans-one {
  color: black;
  font-family: $font-noto-sans;
  font-size: 40px;
  font-weight: normal;
}

#arvo-two {
  color: black;
  font-family: $font-arvo;
  font-size: 40px;
  font-weight: bold;
}

#noto-sans-two {
  color: black;
  font-family: $font-noto-sans;
  font-size: 40px;
  font-weight: bold;
}
