#vollkorn-one {
  color: black;
  font-family: $font-vollkorn;
  font-size: 40px;
  font-weight: normal;;
}

#open-sans-one {
  color: black;
  font-family: $font-open-sans;
  font-size: 40px;
  font-weight: normal;
}

#vollkorn-two {
  color: black;
  font-family: $font-vollkorn;
  font-size: 40px;
  font-weight: bold;
}

#open-sans-two {
  color: black;
  font-family: $font-open-sans;
  font-size: 40px;
  font-weight: bold;
}
