#unna-one {
  color: black;
  font-family: $font-unna;
  font-size: 40px;
  font-weight: normal;;
}

#lato-one {
  color: black;
  font-family: $font-lato;
  font-size: 40px;
  font-weight: normal;
}

#unna-two {
  color: black;
  font-family: $font-unna;
  font-size: 40px;
  font-weight: bold;
}

#lato-two {
  color: black;
  font-family: $font-lato;
  font-size: 40px;
  font-weight: bold;
}
